@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
$primary-color: #6b7add;
$bg-color: #f7f8fc;
$green-color: green;
$red-color: red;
$primary-Text: #737585;
$bg-Shade: #dee0f4;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage__Wrapper {
  width: calc(100% - 4.5rem);
  height: calc(100vh - 3.6rem);
  margin-left: 4.5rem;
  font-family: "Manrope", sans-serif;
  .inner__Wrapper {
    width: 100%;
    height: 100%;
    background-color: #f7f8fc;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    .upper__Section {
      width: 100%;
      height: 65%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      .upper__leftSide {
        width: 31%;
        height: 98%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .upper__rightSide {
        width: 69%;
        height: 97%;
        border: 2px solid #e7e9f0;
        box-shadow: -0px -0px 5px 1px #e7e9f0;
        border-radius: 0.5rem;
        margin-left: 0.5rem;
        display: flex;
        .countries__Filter {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 35%;
          padding: 0.3rem;
          border-right: 2px solid #e7e9f0;
          .SearchBar__Container {
            width: 100%;
            display: flex;
            align-items: center;
            input {
              width: 100%;
              height: 2rem;
              background-color: $bg-color;
              padding: 0.45rem;
              &::placeholder {
                font-size: 0.8rem;
                font-family: "Manrope", sans-serif;
                font-weight: 700;
              }
              &:focus {
                outline: none;
              }
              font-size: 1rem;
              border: none;
            }
            border-bottom: 2px solid #e7e9f0;
          }
          .countries__List {
            height: 90%;
            ul {
              overflow-y: scroll;
              overflow-x: hidden;
              height: 100%;
              li {
                cursor: pointer;
                list-style-type: none;
                padding: 0.45rem;
                border-radius: 0.3rem;
                font-size: 0.75rem;
                font-weight: 650;
                color: $primary-Text;
                display: flex;
                justify-content: space-between;
                // &:nth-child(4) {
                //   background-color: $bg-Shade;
                //   color: $primary-color;
                // }
                transition: all 0.2s ease;
                &:hover {
                  background-color: $bg-Shade;
                  color: $primary-color;
                }
              }
              .selected {
                background-color: $bg-Shade;
                color: $primary-color;
              }
              &::-webkit-scrollbar {
                width: 10px;
                width: 5px;
              }
              &::-webkit-scrollbar-track {
                background: $bg-color;
                width: 5px;
              }
              &::-webkit-scrollbar-thumb {
                background: $bg-Shade;
                width: 5px;
                border-radius: 5px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background: $primary-Text;
                width: 5px;
              }
            }
          }
        }
        .plotted__Map {
          height: 100%;
          width: 80%;
          justify-self: flex-end;
        }
      }
    }
    .lower__Section {
      width: 100%;
      height: 35%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 0.15rem;
      .leftSide {
        width: 49.5%;
        height: 100%;
        border: 2px solid #e7e9f0;
        box-shadow: -0px -0px 5px 1px #e7e9f0;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
      }
      .rightSide {
        width: 49.5%;
        height: 100%;
        border: 2px solid #e7e9f0;
        box-shadow: -0px -0px 5px 1px #e7e9f0;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }
}
@media screen and (max-width: 1070px) {
  .homePage__Wrapper {
    .inner__Wrapper {
      width: 100%;
      .upper__Section {
        width: 100%;
        display: flex;
        flex-direction: column;
        .upper__leftSide {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .upper__rightSide {
          width: 100%;
          height: 58%;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          .plotted__Map {
            height: 100%;
            width: 80%;
            justify-self: flex-end;
            align-self: flex-end;
          }
          .countries__Filter {
            height: 100%;
            .countries__List {
              height: 82%;
            }
          }
        }
      }
      .lower__Section {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 705px) {
  .homePage__Wrapper {
    .inner__Wrapper {
      width: 100%;
      height: auto;
      .upper__Section {
        width: 100%;
        display: flex;
        flex-direction: column;
        .upper__leftSide {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .upper__rightSide {
          width: 98%;
          height: 60%;
          .countries__Filter {
            width: 40%;
            height: 52vh;
            display: flex;
            flex-direction: column;
          }
          .plotted__Map {
            width: 60%;
            height: 52vh;
          }
        }
      }

      .lower__Section {
        width: 98%;
        margin-left: 0.2rem;
        display: flex;
        flex-direction: column;
        .leftSide,
        .rightSide {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .homePage__Wrapper {
    display: block !important;
    width: 100%;
    height: auto !important;
    margin-left: 0;
    font-family: "Manrope", sans-serif;
    .inner__Wrapper {
      width: 100%;
      height: auto !important;
      .upper__Section {
        margin-left: 0;
        .upper__rightSide {
          display: flex;
          flex-direction: column !important;
          margin-left: 0;
          .countries__Filter {
            width: 100%;
          }
          .plotted__Map {
            width: 100%;
          }
        }
      }
      .lower__Section {
        width: 98%;
        margin-left: 0.2rem;
        display: flex;
        flex-direction: column;
        .leftSide,
        .rightSide {
          width: 100%;
          height: 12rem;
          margin-bottom: 0.5rem;
        }
        .rightSide {
          margin-bottom: 3.75rem;
        }
      }
    }
  }
}
