@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
// font-family: "Manrope", sans-serif;
$primary-color: #6b7add;
$bg-color: #f7f8fc;
$green-color: green;
$red-color: red;
$primary-Text: #737585;
$bg-Shade: #dee0f4;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newsPage__Wrapper {
  width: calc(100% - 4.5rem);
  height: calc(100vh - 3.6rem);
  margin-left: 4.5rem;
  font-family: "Manrope", sans-serif;
  .inner__Wrapper {
    width: 100%;
    height: 100%;
    background-color: #f7f8fc;
    display: flex;
    padding: 0.5rem;
    .leftSide {
      width: 75%;
      height: auto;
      //   border: 1px solid red;
      display: flex;
      .innerLeftSide {
        width: 70%;
        height: auto;
        // border: 1px solid black;
        .innerLeftUpperSection {
          width: 100%;
          height: 70%;
          background-color: $bg-color;
          border-radius: 0.5rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border: 2px solid #e7e9f0;
          box-shadow: -0px -0px 5px 1px #e7e9f0;
          cursor: pointer;
          transition: all 0.2s ease;
          -webkit-user-select: none;
          -moz-user-select: -moz-none;
          /*IE10*/
          -ms-user-select: none;
          user-select: none;
          /*You just need this if you are only concerned with android and not desktop browsers.*/
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &:hover {
            transform: scale(1.01);
          }
          h1 {
            margin-bottom: 1rem;
            color: $primary-color;
          }
          h3 {
            color: #616bac;
          }
          .details {
            color: #616bac;
            margin-top: 0.5rem;
            font-weight: 500;
          }
          .trialphase {
            font-size: 1rem;
            font-weight: 500;
            color: #616bac;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
          }
          .sponsors {
            font-size: 0.85rem;
            color: $primary-Text;
          }
        }
        .innerLeftLowerSection {
          width: 100%;
          height: 30%;
          display: flex;
          .innerLeftLowerSectionLeftSide {
            border: 2px solid #e7e9f0;
            box-shadow: -0px -0px 5px 1px #e7e9f0;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            /*IE10*/
            -ms-user-select: none;
            user-select: none;
            /*You just need this if you are only concerned with android and not desktop browsers.*/
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          }
          .innerLeftLowerSectionRightSide {
            // width: 100%;
            width: 97.5%;
            margin-left: 0.4rem;
          }
          .innerLeftLowerSectionLeftSide,
          .innerLeftLowerSectionRightSide {
            cursor: pointer;
            margin-top: 0.5rem;
            height: 95%;

            padding: 0.5rem;
            background-color: $bg-color;
            border: 2px solid #e7e9f0;
            box-shadow: -0px -0px 5px 1px #e7e9f0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 0.5rem;
            transition: all 0.2s ease;

            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            /*IE10*/
            -ms-user-select: none;
            user-select: none;
            /*You just need this if you are only concerned with android and not desktop browsers.*/
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            &:hover {
              transform: scale(1.02);
            }
            h3 {
              font-size: 1rem;
              color: $primary-color;
            }
            .funding {
              font-size: 0.7rem;
              font-weight: 600;
              color: #616bac;
            }
            .details {
              font-size: 0.7rem;
              font-weight: 500;
              color: #616bac;
            }
          }
          .innerLeftLowerSectionRightSide {
            color: $primary-color;
            h3 {
              color: $primary-color;
            }
            .funding {
              color: #616bac;
            }
            .details {
              color: #616bac;
            }
          }
        }
      }
      .innerRightSide {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.5rem;
        align-items: center;
        .innerRightSideRow1,
        .innerRightSideRow2,
        .innerRightSideRow3,
        .innerRightSideRow4 {
          cursor: pointer;
          margin: 0.25rem;
          width: 93%;
          height: 28%;
          padding: 0.5rem;
          display: flex;
          background-color: $bg-color;
          border: 2px solid #e7e9f0;
          box-shadow: -0px -0px 5px 1px #e7e9f0;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 0.5rem;
          transition: all 0.2s ease;

          -webkit-user-select: none;
          -moz-user-select: -moz-none;
          /*IE10*/
          -ms-user-select: none;
          user-select: none;
          /*You just need this if you are only concerned with android and not desktop browsers.*/
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &:hover {
            transform: scale(1.02);
          }
          h3 {
            font-size: 1rem;
            color: $primary-color;
          }
          .funding {
            font-size: 0.7rem;
            font-weight: 600;
            color: #616bac;
          }
          .details {
            font-size: 0.7rem;
            font-weight: 500;
            color: #616bac;
          }
        }
      }
    }
    .rightSide {
      width: 25%;
      height: 100%;
      background-color: $primary-color;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 2px solid #e7e9f0;
      box-shadow: -0px -0px 5px 1px #e7e9f0;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      /*IE10*/
      -ms-user-select: none;
      user-select: none;
      /*You just need this if you are only concerned with android and not desktop browsers.*/
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      .rightSideData {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid white;
        font-weight: 500;
        font-size: 0.8rem;
        cursor: pointer;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media screen and (max-width: 1113px) {
  .newsPage__Wrapper {
    width: calc(100% - 4.5rem);
    height: calc(100vh - 3.6rem);
    margin-left: 4.5rem;
    font-family: "Manrope", sans-serif;
    .inner__Wrapper {
      width: 100%;
      height: auto;
      background-color: #f7f8fc;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      .leftSide {
        height: 100%;
        width: 100%;
        .innerRightSide {
          width: 30%;
          height: auto;
        }
        .innerLeftSide {
          width: 70%;
          height: 60%;
        }
      }
      .rightSide {
        width: 100%;
        margin-top: 0.35rem;
        .rightSideData {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 906px) {
  .newsPage__Wrapper {
    width: calc(100% - 4.5rem);
    height: calc(100vh - 3.6rem);
    margin-left: 4.5rem;
    font-family: "Manrope", sans-serif;
    .inner__Wrapper {
      width: 100%;
      height: auto;
      background-color: #f7f8fc;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      .leftSide {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .innerRightSide {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          margin-top: 0.5rem;
          .innerRightSideRow1,
          .innerRightSideRow2,
          .innerRightSideRow3,
          .innerRightSideRow4 {
            height: 10rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
        .innerLeftSide {
          width: 100%;
          height: 60%;
        }
      }
      .rightSide {
        width: 100%;
        margin-top: 0.35rem;
        .rightSideData {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 784px) {
  .newsPage__Wrapper {
    width: calc(100% - 4.5rem);
    height: calc(100vh - 3.6rem);
    margin-left: 4.5rem;
    font-family: "Manrope", sans-serif;
    .inner__Wrapper {
      width: 100%;
      height: auto;
      background-color: #f7f8fc;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      .leftSide {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .innerRightSide {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 0.5rem;
          .innerRightSideRow1,
          .innerRightSideRow2,
          .innerRightSideRow3,
          .innerRightSideRow4 {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
        .innerLeftSide {
          width: 100%;
          height: 60%;
        }
      }
      .rightSide {
        width: 100%;
        margin-top: 0.35rem;
        .rightSideData {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .newsPage__Wrapper {
    width: calc(100% - 4.5rem);
    height: calc(100vh - 3.6rem);
    margin-left: 4.5rem;
    font-family: "Manrope", sans-serif;
    .inner__Wrapper {
      width: 100%;
      height: auto;
      background-color: #f7f8fc;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      .leftSide {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .innerLeftLowerSection {
          display: flex;
          flex-direction: column;
          .innerLeftLowerSectionRightSide,
          .innerLeftLowerSectionLeftSide {
            width: 100% !important;
            margin-left: 0rem !important;
          }
        }
        .innerLeftUpperSection {
          h1 {
            font-size: 1rem;
            margin-bottom: 0;
          }
          h3 {
            font-size: 0.8rem;
            margin-top: 0;
            margin-bottom: 0;
          }
          .details {
            font-size: 0.75rem;
            margin-top: 0.5rem;
          }
          .trialphase {
            font-size: 0.5rem;
          }
          .sponsors {
            font-size: 0.75rem;
          }
        }
        .innerRightSide {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 0.5rem;
          .innerRightSideRow1,
          .innerRightSideRow2,
          .innerRightSideRow3,
          .innerRightSideRow4 {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
      .rightSide {
        width: 100%;
        margin-top: 0.35rem;
        .rightSideData {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .newsPage__Wrapper {
    width: 100%;
    height: 100%;
    margin-left: 0;
    font-family: "Manrope", sans-serif;
    .inner__Wrapper {
      .rightSide {
        width: 100%;
        margin-top: 0.35rem;
        margin-bottom: 3.75rem;
        .rightSideData {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
